<div class="page-header navbar navbar-fixed-top">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <%= link_to cpanel_root_path do %>
        <img src="<%= asset_path('cpanel/logo_small.png') %>" alt="logo" class="logo-default" style="width: 70%; margin-top: 20px;"/>
      <% end %>
      <div class="menu-toggler sidebar-toggler">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
      </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN PAGE TOP -->
    <div class="page-top">
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <li class="separator hide">
          </li>
          <!-- BEGIN USER LOGIN DROPDOWN -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username username-hide-on-mobile">
            <%= current_admin.name %> </span>
            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
            <%= image_tag current_admin.avatar_url(:avatarn), class:'img-circle' %>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <%= link_to cpanel_settings_profile_path do %>
                  <i class="icon-user"></i> 个人设置
                <% end %>
              </li>

<!--               <li>
                <a href="extra_lock.html">
                <i class="icon-lock"></i> 锁屏 </a>
              </li>
 -->
              <li>
                <%= link_to cpanel_logout_path, method: 'delete' do %>
                  <i class="icon-key"></i> 退出
                <% end %>
              </li>
            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
  </div>
  <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
